#AI MODELS 
GEMINI_API_KEY=your-gemini-api-key
OPENROUTER_API_KEY=your-openrouter-api-key
EMBEDDING_MODEL=your-embedding-model-name
CHAT_MODEL=your-chat-model-name
#DATABASE
DATABASE_URL=your-database-url
#LABGSMITH
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
#BETTER AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=